hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex ;
        justify-content: space-around;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__titulo{
        margin-bottom: 1.5em;
        color: var(--cinza-claro);
        font-size: 14px;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0 0 1em;
        padding: 2px;
        transition: 500ms;
        border-radius: 10px;
    }

    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza);
        margin-left: .5em;
        font-size: 14px;
    }

    .lista-rodape__item:hover{
        transition: 500ms;
        background-color: var(--laranja);
    }

    .lista-rodape__item:hover>.lista-rodape__link{
        color: var(--branco);
        transition: 100ms;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 2px solid var(--cinza-claro);
        padding-left: 1.2em;
    }
}